[submodule "IoT_Appliance_Controller_App"]
	path = IoT_Appliance_Controller_App
	url = git@github.com:Simple-Smart-Home-App/IoT_Appliance_Controller_App.git
[submodule "Backend_API_SmartHomeApp"]
	path = Backend_API_SmartHomeApp
	url = git@github.com:Simple-Smart-Home-App/Backend_API_SmartHomeApp.git
[submodule "Front-End-App"]
	path = Front-End-App
	url = git@github.com:Simple-Smart-Home-App/Front-End-App.git
[submodule "FrontEndAppJava"]
	path = FrontEndAppJava
	url = git@github.com:Simple-Smart-Home-App/FrontEndAppJava.git
